.contact {
    margin: 0 auto;
    background-image: url(../images/contact_tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3.5625rem;
    padding-bottom: 1.25rem;

    &__title {
        color: #ffffff;
        margin-bottom: 2.625rem;
    }
    
    &__info {

        &-title {
            margin: 0 auto;
            width: 13.75rem;
            font-family: $second-font;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #ffffff;
            margin-bottom: 0.75rem;
        }

        &-subtitle {
            margin: 0 auto;
            width: 17.375rem;
            font-family: $main-font;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.3125rem;
            color: #a7a7a7;
            margin-bottom: 2.375rem;
            text-align: center;
        }

        &-socials {
            margin: 0 auto;
            width: 9.6875rem;
            height: 7.625rem;
            margin-bottom: 2.75rem;
        }

        &-list {
            width: 9.6875rem;
            height: 2.625rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.1875rem;

            &-item {
                &:first-child {
                    .contact__info-list-link {
                        background-color: #3b5997;
                        background-image: url(../images/icons/icon-facebook.svg);
                    }
                }

                &:nth-child(2) {
                    .contact__info-list-link {
                        background-color: #3ec2f3;
                        background-image: url(../images/icons/icon-twitter.svg);
                    }
                }

                &:last-child {
                    .contact__info-list-link {
                        background-color: #007ab9;
                        background-image: url(../images/icons/icon-linkedin.svg);
                    }
                }
            }

            &-link {
                display: block;
                width: 2.625rem;
                height: 2.625rem;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
            }
        }

        &_phone {
            font-family: $main-font;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: #bface2;
            text-align: center;
        }

        &_email {
            font-family: $main-font;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: #bface2;
            text-align: center;
        }
    }

    &__copyright {
        width: 11.25rem;
        font-family: $main-font;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
        color: #ffffff;
    }
}

.form {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.625rem;
    
    &-wrapper {
        margin: 0 auto;
        width: 16.875rem;
        height: 19.75rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2.75rem;
    }

    &__info-input {
        width: 16.875rem;
        height: 2.75rem;
        background-color: #ffffff;
        border-radius: 3px;
        border: none;
        padding-left: 1.625rem;
        color: #232323;


        &::placeholder {
            font-family: $main-font;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #c1c1c1;
        }

        &:focus {
            outline: none;
        }

        &:required:focus:valid {
            border: 2px solid $green;
        }

        &:required:focus:invalid {
            border: 2px solid #ff0000;
        }
    }

    &__info-textarea {
        width: 16.875rem;
        height: 10.875rem;
        border-radius: 7px;
        background-color: #ffffff;
        border: none;
        padding: 0.75rem 1.625rem;
        color: #232323;
        resize: none;

        &::placeholder {
            font-family: $main-font;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #c1c1c1;
        }
    }

    &-button {
        width: 10.625rem;
        height: 3.125rem;
        border-radius: 3px;
        background-color: $blue;
        border: none;
        margin: 0 auto;
        font-family: $main-font;
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.line {
    border-top: 1px solid #fff;
    padding-top: 1.875rem;
}

@media (min-width: 768px) {
    .contact {
        padding-top: 4.125rem;
        padding-bottom: 1rem;

        &__title {
            margin-bottom: 4.6875rem;
        }

        &__info {
            &-subtitle {
                width: 26.25rem;
                margin-bottom: 2.1875rem;
            }

            &-socials {
                margin-bottom: 2.375rem;
            }
        }
        
        &__copyright {
            width: 19.375rem;
        }
    }

    .form {
        margin-bottom: 3.5rem;

        &-wrapper {
            width: 35.625rem;
            height: 15.9375rem;
            margin-bottom: 1.875rem;
        }

        &__info {
            &-textarea {
                width: 35.625rem;
                height: 11.125rem;
            }
        }
    }

    .line {
        padding-top: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .contact {
        background-image: url(../images/contact_desctop.png);

        &__title {
            margin-bottom: 7.6875rem;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }

        &__info {
            &-title {
                margin-left: 0rem;
            }

            &-subtitle {
                text-align: left;
            }

            &-socials {
                margin-left: 0rem;
            }
        }
    }

    .form {
        margin-right: 0rem;
    }

    .form-button {
        margin-right: 0rem;
    }
}
   