.watch {
    background-color: $blue;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video__item{
    text-align: center;
}

.operations{
    display: flex;
    width: 156px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 38px;
}
.operation__android{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: #0098cd;
    background-image: url("../images/icons/icon-android.svg");
    border-style: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.operation__ios{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: #0098cd;
    background-image: url("../images/icons/icon-apple.svg");
    border-style: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.video__content--title{
    color: $black;
    font-family: $second-font;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 14px;
}
.video__content--about{
    color: rgb(255, 255, 255);
    font-family: $main-font;
    font-size: 16px;
    width: 245px;
    margin: 0 auto;
    line-height: 1.625;
    margin-bottom: 15px;
}


.video__item--svg{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 152, 205);
    border-radius: 40px;
    cursor: pointer;
}

.video__svg{
    margin: 0 auto;
}

.main__video:focus{
    outline: none;
}

.main__video{
    border-radius: 10px;
}

@media (min-width: 768px){

    .video__content--title{
        font-size: 28px;
    }

    .video__content--about{
        width: 540px;
        line-height: 26px;
    }

    .main__video{
        width: 450px;
        height: 255px;

    }
}

@media (min-width: 1200px) {
    .container {
      width: 1200px;
      margin: 0 auto;
    }

    .watch{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .video__content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .video__item{
        text-align: left;
    }

    .main__video{
        width: 559px;
        height: 314px;
    }

    .operations{
        margin: 0;
    }
    .video__content--title{
        padding-top: 36px;
    }

    .video__content--about{
        padding-left: 3px;
        width: 541px;
    }
}







