.watch {
    background-color: $blue;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.video__item{
    text-align: center;
}

.operations{
    display: flex;
    width: 9.75rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2.375rem;
}
.operation__android{
    display: flex;
    align-items: center;
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
    background-color: #0098cd;
    background-image: url("../images/icons/icon-android.svg");
    border-style: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.operation__ios{
    display: flex;
    align-items: center;
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
    background-color: #0098cd;
    background-image: url("../images/icons/icon-apple.svg");
    border-style: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.video__content--title{
    color: $bleck;
    font-family: $second-font;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.625rem;
    margin-bottom: 0.875rem;
}
.video__content--about{
    color: #ffffff;
    font-family: $main-font;
    line-height: 1.625;
    font-size: 1rem;
    width: 15.3125rem;
    margin: 0 auto;
    line-height: 1.625;
    margin-bottom: 0.9375rem;
}


.video__item--svg{
    height: 4.375rem;
    width: 4.375rem;
    background-color: rgb(0, 152, 205);
    border-radius: 40px;
    cursor: pointer;
}

.video__svg{
    margin: 0 auto;
}

.main__video:focus{
    outline: none;
}

.main__video{
    border-radius: 10px;
}

@media (min-width: 768px){

    .video__content--title{
        font-size: 1.75rem;
    }

    .video__content--about{
        width: 33.75rem;
        line-height: 1.625rem;
    }

    .main__video{
        width: 28.125rem;
        height: 15.9375rem;

    }
}

@media (min-width: 1200px) {
        .watch{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    .video__content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .video__item{
        text-align: left;
    }

    .main__video{
        width: 34.9375rem;
        height: 19.625rem;
    }

    .operations{
        margin: 0;
    }
    .video__content--title{
        padding-top: 2.25rem;
    }

    .video__content--about{
        padding-left: 0.1875rem;
        width: 33.8125rem;
    }
}







