.subtile-container {
    text-align: center;
}

.subtitle {
    display: inline-block;
    position: relative;
    color: $green;
    font-family: $second-font;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.556;
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;

    &::after, &::before {
        position: absolute;
        right: -4.375rem;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: block;
        background-color: #babdc1;
        width: 3.75rem;
        height: 0.0625rem;
    }
    
    &::before {
        left: -4.375rem;
    }
    
}

@media (min-width: 768px) {
    .subtitle {
        font-size: 1.75rem;
        &::before {
            left: -4.75rem;
        }
        &::after {
            right: -4.75rem;
        }
    }
}

